input {
  height: 25px;
}

button {
  height: 35px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 10px;
  min-width: 130px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid black
}

body {
  min-height: 100vh;
}

#root {
  height: 100vh;
}

.map {
  margin-top: 400px;
}